ConnectionStrings__DefaultConnection=Host=host.docker.internal;Port=5432;Database=portfolio_tracker;Username=postgres;Password=your_password
API_PORT=5219
FRONTEND_PORT=5173
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token
